<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unique.countsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:screenOrientation="portrait"
            android:name=".NamedActivity"
            android:label="@string/title_activity_named" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ChartActivity"
            android:label="@string/title_activity_chart" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary" />
        <activity
            android:name=".AbsenceActivity"
            android:label="@string/title_activity_absence" />
        <activity android:name=".ExDialog" />
    </application>

</manifest>
